<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <general>
    <syncFromContentRootNode>-1</syncFromContentRootNode>
    <syncToMediaRootNode>-1</syncToMediaRootNode>
    <syncAllContent>true</syncAllContent>
    <renameMedia>true</renameMedia>
    <deleteMedia>true</deleteMedia>
    <copyMediaFiles>false</copyMediaFiles>
    <checkForMissingRelations>true</checkForMissingRelations>
    <moveMediaFilesStillInUse>true</moveMediaFilesStillInUse>
    <userId>0</userId>
  </general>
  <mediaIdProviders>
    <mediaPickerIdProvider>
      <propertyEditorAlias>Umbraco.MediaPicker</propertyEditorAlias>
      <propertyEditorAlias>Umbraco.MultipleMediaPicker</propertyEditorAlias>
      <propertyEditorAlias>Umbraco.MultiNodeTreePicker</propertyEditorAlias>
    </mediaPickerIdProvider>
    <gridHtmlMediaIdProvider>
      <propertyEditorAlias>Umbraco.Grid</propertyEditorAlias>
    </gridHtmlMediaIdProvider>
    <htmlMediaIdProvider>
      <propertyEditorAlias>Umbraco.TinyMCEv3</propertyEditorAlias>
      <propertyEditorAlias>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</propertyEditorAlias>
    </htmlMediaIdProvider>
    <relatedLinksIdProvider>
      <propertyEditorAlias>Umbraco.RelatedLinks</propertyEditorAlias>
    </relatedLinksIdProvider>
    <urlMediaIdProvider>
      <propertyEditorAlias>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</propertyEditorAlias>
    </urlMediaIdProvider>
  </mediaIdProviders>
</configuration>
